
<meta charset="UTF-8">
<div class="form-inline">
	<label class="item item-input item-select">
	   <span class="icon ion-person-stalker placeholder-icon"></span>
	   <p class="input-label">Perfil:</p>
	   <select ng-model='userlevel'>
	      <option ng-selected='userlevel === 0' value='0'>{{niveles[0]}}</option>
	      <option ng-selected='userlevel === 1' value='1'>{{niveles[1]}}</option>
	      <option ng-selected='userlevel === 2' value='2'>{{niveles[2]}}</option>
	   </select>
	</label>
</div>
